@import "_variables";

.#{$class-prefix}container,
.#{$class-prefix}container-fluid,
.#{$class-prefix}container-xxl,
.#{$class-prefix}container-xl,
.#{$class-prefix}container-lg,
.#{$class-prefix}container-md,
.#{$class-prefix}container-sm {
	box-sizing: border-box;
	margin: 0 auto;  //top-bottom | right-left
	padding: 0 1rem; 

	/* extra-small */
	width: 100%;
}

/* small */
@media (min-width: $device-sm) {

	.#{$class-prefix}container-sm,
	.#{$class-prefix}container {
		max-width: #{$container-max-width-sm};
	}
}

/* medium */
@media (min-width: $device-md) {

	.#{$class-prefix}container-md,
	.#{$class-prefix}container-sm,
	.#{$class-prefix}container {
		max-width: #{$container-max-width-md};
	}
}

/* large */
@media (min-width: $device-lg) {

	.#{$class-prefix}container-lg,
	.#{$class-prefix}container-md,
	.#{$class-prefix}container-sm,
	.#{$class-prefix}container {
		max-width: #{$container-max-width-lg};
	}

}

/* extra-large */
@media (min-width: $device-xl) {

	.#{$class-prefix}container-xl,
	.#{$class-prefix}container-lg,
	.#{$class-prefix}container-md,
	.#{$class-prefix}container-sm,
	.#{$class-prefix}container {
		max-width: #{$container-max-width-xl};
	}

}

/* extra-extra-large */
@media (min-width: $device-xxl) {

	.#{$class-prefix}container-xxl,
	.#{$class-prefix}container-xl,
	.#{$class-prefix}container-lg,
	.#{$class-prefix}container-md,
	.#{$class-prefix}container-sm,
	.#{$class-prefix}container {
		max-width: #{$container-max-width-xxl};
	}
}


.#{$class-prefix}row {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.#{$class-prefix}col,
.#{$class-prefix}col-sm,
.#{$class-prefix}col-md,
.#{$class-prefix}col-lg,
.#{$class-prefix}col-xl,
.#{$class-prefix}col-xxl {
	box-sizing: border-box;
	padding: 0px;  //cambiato da 1em che non mi piace
	width: 100%;
}

@for $i from 1 through 12 {
	.#{$class-prefix}col-#{$i} {
		width: calc(100% * (#{$i} / 12));
	}
}

@for $i from 1 through 12 {
	.#{$class-prefix}col-sm-#{$i} {
		@media (min-width: $device-sm) {
			width: calc(100% * (#{$i} / 12));
		}
	}
}

@for $i from 1 through 12 {
	.#{$class-prefix}col-md-#{$i} {
		@media (min-width: $device-md) {
			width: calc(100% * (#{$i} / 12));
		}
	}
}

@for $i from 1 through 12 {
	.#{$class-prefix}col-lg-#{$i} {
		@media (min-width: $device-lg) {
			width: calc(100% * (#{$i} / 12));
		}
	}
}

@for $i from 1 through 12 {
	.#{$class-prefix}col-xl-#{$i} {
		@media (min-width: $device-xl) {
			width: calc(100% * (#{$i} / 12));
		}
	}
}

@for $i from 1 through 12 {
	.#{$class-prefix}col-xxl-#{$i} {
		@media (min-width: $device-xxl) {
			width: calc(100% * (#{$i} / 12));
		}
	}
}


