@import "_variables";

.cs-container {
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 1rem;

	/* In _variables.scss
	$device-xs: 576px;
	$device-sm: 768px;
	$device-md: 992px;
	$device-lg: 1200px;
	$device-xl: 1400px;
    */

	@media (min-width: $device-xs) {
		max-width: 540px;
	}

	@media (min-width: $device-sm) {
		max-width: 720px;
	}

	@media (min-width: $device-md) {
		max-width: 960px;
	}

	@media (min-width: $device-lg) {
		max-width: 1140px;
	}

	@media (min-width: $device-xl) {
		max-width: 1320px;
	}
}

.cs-row {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@for $i from 1 through 12 {
	.cs-col-xs-#{$i},
	.cs-col-sm-#{$i},
	.cs-col-md-#{$i},
	.cs-col-lg-#{$i},
	.cs-col-xl-#{$i} {
		box-sizing: border-box;
		padding: 1em;
		width: 100%;
	}
}

@for $i from 1 through 12 {
	.cs-col-xs-#{$i} {
		@media (min-width: $device-xs) {
			width: calc(100% * (#{$i} / 12));
		}
	}
}

@for $i from 1 through 12 {
	.cs-col-sm-#{$i} {
		@media (min-width: $device-sm) {
			width: calc(100% * (#{$i} / 12));
		}
	}
}

@for $i from 1 through 12 {
	.cs-col-md-#{$i} {
		@media (min-width: $device-md) {
			width: calc(100% * (#{$i} / 12));
		}
	}
}

@for $i from 1 through 12 {
	.cs-col-lg-#{$i} {
		@media (min-width: $device-lg) {
			width: calc(100% * (#{$i} / 12));
		}
	}
}

@for $i from 1 through 12 {
	.cs-col-xl-#{$i} {
		@media (min-width: $device-xl) {
			width: calc(100% * (#{$i} / 12));
		}
	}
}
