@import "_variables";

@each $type in $tbsexy {
	$rem_current: 0;
	$cont_max: 5;
	$cont_current: 0;
	@while $cont_current <= $cont_max {
		.#{$class-prefix}m#{$type}-#{$cont_current} {
			@if $type == "t" {
				margin-top: $rem_current + rem !important;
			} @else if $type == "b" {
				margin-bottom: $rem_current + rem !important;
			} @else if $type == "s" {
				margin-left: $rem_current + rem !important;
			} @else if $type == "e" {
				margin-right: $rem_current + rem !important;
			} @else if $type == "x" {
				margin-left: $rem_current + rem !important;
				margin-right: $rem_current + rem !important;
			} @else if $type == "y" {
				margin-top: $rem_current + rem !important;
				margin-bottom: $rem_current + rem !important;
			} @else {
				margin: $rem_current + rem !important;
			}
		}

		@if $cont_current == 0 {
			$rem_current: 0.25;
		} @else if $cont_current >= 4 {
			$rem_current: $rem_current + 1;
		} @else {
			$rem_current: $rem_current * 2;
		}

		$cont_current: $cont_current + 1;
	}
}

@each $type in $tbsexy {
	.#{$class-prefix}m#{$type}-auto {
		@if $type == "t" {
			margin-top: auto !important;
		} @else if $type == "b" {
			margin-bottom: auto !important;
		} @else if $type == "s" {
			margin-left: auto !important;
		} @else if $type == "e" {
			margin-right: auto !important;
		} @else if $type == "x" {
			margin-left: auto !important;
			margin-right: auto !important;
		} @else if $type == "y" {
			margin-top: auto !important;
			margin-bottom: auto !important;
		} @else {
			margin: auto !important;
		}
	}
}
