@import "variables";

@each $type in $tbsexy {
	$rem_current: 0;
	$cont_max: 5;
	$cont_current: 0;
	@while $cont_current <= $cont_max {
		.#{$class-prefix}p#{$type}-#{$cont_current} {
			@if $type == "t" {
				padding-top: $rem_current + rem;
			} @else if $type == "b" {
				padding-bottom: $rem_current + rem;
			} @else if $type == "s" {
				padding-left: $rem_current + rem;
			} @else if $type == "e" {
				padding-right: $rem_current + rem;
			} @else if $type == "x" {
				padding-left: $rem_current + rem;
				padding-right: $rem_current + rem;
			} @else if $type == "y" {
				padding-top: $rem_current + rem;
				padding-bottom: $rem_current + rem;
			} @else {
				padding: $rem_current + rem;
			}
		}

		@if $cont_current == 0 {
			$rem_current: 0.25;
		} @else if $cont_current >= 4 {
			$rem_current: $rem_current + 1;
		} @else {
			$rem_current: $rem_current * 2;
		}

		$cont_current: $cont_current + 1;
	}
}
