//
//	_typography.scss	
//
// 	Mauro Iannicelli (June '23)
//
//	Usage:		@import "_typography";
//
//	It generates font size classes such as:
//
//  cs-fs-small-3
//  cs-fs-small-2
//  cs-fs-small-1
//  cs-fs-1
//  cs-fs-2
//  ...
//  cs-fs-7
//
//  .h1, ..., .h6
//
//  cs-fst-normal
//  cs-fst-italic
//  cs-fw-normal
//  cs-fw-bold

@import "_variables";
@import "utilities";

/* Font size classes */

//Generate classes fs-1....n which set the font-size with a responsive-fluid formula
@include generate-all-selectors-for-property-fluid("font-size",
  $font-sizes-min-max,
  $font-size-at-min-viweport,
  $font-size-at-max-viweport);

h1,
.h1 {
  @extend .#{$class-prefix}fs-6;
}

h2,
.h2 {
  @extend .#{$class-prefix}fs-5;
}

h3,
.h3 {
  @extend .#{$class-prefix}fs-4;
}

h4,
.h4 {
  @extend .#{$class-prefix}fs-3;
}

h5,
.h5 {
  @extend .#{$class-prefix}fs-2;
}

h6,
.h6 {
  @extend .#{$class-prefix}fs-1;
}

/* Font style classes */
.#{$class-prefix}fst-normal {
	font-style: normal !important;
}
.#{$class-prefix}fst-italic {
	font-style: italic !important;
}
/* Font weight classes */
.#{$class-prefix}fw-normal {
	font-weight: 400 !important;
}
.#{$class-prefix}fw-bold {
	font-weight: 700 !important;
}

