@import "_variables";

$font-size: 10;
$default: 25;
@while $font-size <= 70 {
	.cs-text-#{$font-size} {
		font-size: $font-size + px;

		@media (max-width: $device-md) {
			@if ($font-size > 50) {
				font-size: 50px;
			} @else if ($font-size >= 30) {
				font-size: 40px;
			} @else {
				font-size: $font-size + px;
			}
		}

		@media (max-width: $device-sm) {
			@if ($font-size > 50) {
				font-size: 35px;
			} @else if ($font-size >= 30) {
				font-size: 30px;
			} @else {
				font-size: $default + px;
			}
		}

		@media (max-width: $device-xs) {
			font-size: $default + px;
		}
	}

	$font-size: $font-size + 10;
}
