$class-prefix: cs-;  //class prefix for this 'proprietary' framework

$white: #ffffff;
$lightgray: #d8d8d8;
$gray: #b1b1b1;
$darkgray: #666666;
$black: #2c2c2c;
$yellow: #ecc10a;
$mediumyellow: darken(#ffec9a, 10);
$lightyellow: #ffec9a;
$orange: #f1a201;
$lightorange: #fecf4e;
$red: #f33f00;
$darkred: #b40000;
$green: #2cbe00;
$darkgreen: #198754;
$blue: #0d6efd;
$darkblue: #003180;
$lightblue: #8bc1f0;

$colors: (
	"white": $white,
	"lightgray": $lightgray,
	"gray": $gray,
	"darkgray": $darkgray,
	"black": $black,
	"yellow": $yellow,
	"mediumyellow": $mediumyellow,
	"lightyellow": $lightyellow,
	"orange": $orange,
	"lightorange": $lightorange,
	"red": $red,
	"darkred": $darkred,
	"green": $green,
	"darkgreen": $darkgreen,
	"blue": $blue,
	"darkblue": $darkblue,
	"lightblue": $lightblue,
);

$tbsexy: "", "t", "b", "s", "e", "x", "y";

///borders
$border_radius: 5px;
$btn_border_radius: 0px;

//variables for typography
$min-viweport-for-font-size:400px;
$max-viweport-for-font-size:1024px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

$breakpoints: (
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px
);

$font-sizes-min:(
	fs-small-3: 12px,
	fs-small-2: 14px,
	fs-small-1: 16px,
	fs-1: 21px,
	fs-2: 24px,
	fs-3: 28px,
	fs-4: 35px,
	fs-5: 44px,
	fs-6: 54px,
	fs-7: 66px
);

$font-sizes-max:(
	fs-small-3: 12px,
	fs-small-2: 14px,
	fs-small-1: 17px,
	fs-1: 21px,
	fs-2: 25px,
	fs-3: 30px,
	fs-4: 44px,
	fs-5: 53px,
	fs-6: 68px,
	fs-7: 80px
);

$margins:( 
	"0":	0px,
	"1":	4px,
	"2":	8px,
	"3":	12px, 
	"4":	16px,
	"5": 	24px,
	"6":	32px,
	"7":	44px,
	"8": 	56px,
	"9":	72px,
	"10":	88px
);

$paddings:( 
	"0":	0px,
	"1":	4px,
	"2":	8px,
	"3":	12px, 
	"4":	16px,
	"5": 	24px,
	"6":	32px,
	"7":	44px,
	"8": 	56px,
	"9":	72px,
	"10":	88px
);

$spacers-y:( 
	"1": 5px,
	"2": 10px,
	"3": 15px,
	"4": 25px,
	"5": 40px,
	"6": 55px,
	"7": 80px,
	"8": 120px,
	"9": 160px,
	"10": 200px		
);

