

.#{$class-prefix}vspacer-1 {
    height: 0.5rem;
}

.#{$class-prefix}vspacer-2 {
    height: 1rem;
}

.#{$class-prefix}vspacer-3 {
    height: 2rem;
}

.#{$class-prefix}vspacer-4 {
    height: 4rem;
}

.#{$class-prefix}vspacer-5 {
    height: 6rem;
}

/*

.#{$class-prefix}vspacer-1 {
    height: 10px;
}

.#{$class-prefix}vspacer-2 {
    height: 15px;
}

.#{$class-prefix}vspacer-3 {
    height: 40px;
}


.#{$class-prefix}vspacer-4 {
    height: 80px;
}

.#{$class-prefix}vspacer-5 {
    height: 120px;
}

@media (max-width: 992px) {
    .#{$class-prefix}vspacer-1 {
        height: 8px;
    }

    .#{$class-prefix}vspacer-2 {
        height: 13px;
    }

    .#{$class-prefix}vspacer-3 {
        height: 30px;
    }


    .#{$class-prefix}vspacer-4 {
        height: 60px;
    }

    .#{$class-prefix}vspacer-5 {
        height: 90px;
    }
}

@media (max-width: 768px) {
    .#{$class-prefix}vspacer-1 {
        height: 6px;
    }

    .#{$class-prefix}vspacer-2 {
        height: 11px;
    }

    .#{$class-prefix}vspacer-3 {
        height: 25px;
    }


    .#{$class-prefix}vspacer-4 {
        height: 40px;
    }

    .#{$class-prefix}vspacer-5 {
        height: 75px;
    }
}

@media (max-width: 576px) {
    .#{$class-prefix}vspacer-1 {
        height: 5px;
    }

    .#{$class-prefix}vspacer-2 {
        height: 8px;
    }

    .#{$class-prefix}vspacer-3 {
        height: 20px;
    }


    .#{$class-prefix}vspacer-4 {
        height: 30px;
    }

    .#{$class-prefix}vspacer-5 {
        height: 50px;
    }
}
*/