/* FONTS */

@font-face {
	font-family: "Poppins";
	src: local("Poppins");
	src: url("../font/Poppins/Poppins-Regular.woff2") format("woff2");
	src: url("../font/Poppins/Poppins-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: local("Poppins");
	src: url("../font/Poppins/Poppins-Italic.woff2") format("woff2");
	src: url("../font/Poppins/Poppins-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: local("Poppins");
	src: url("../font/Poppins/Poppins-Bold.woff2") format("woff2");
	src: url("../font/Poppins/Poppins-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: local("Poppins");
	src: url("../font/Poppins/Poppins-BoldItalic.woff2") format("woff2");
	src: url("../font/Poppins/Poppins-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}

$font-main: "Poppins", sans-serif;

$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1320px;

/* COLORS */
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
/*--*/
$white: #ffffff;
$lightgray: #d8d8d8;
$gray: #b1b1b1;
$darkgray: #666666;
$black: #2c2c2c;
$lightorange: #fecf4e;
$red: #b40000;
$green: #00af50;
$orange: #f1a201;
$yellow: #ecc10a;
$lightyellow: #ffec9a;
$lightblue: #3898ec;
$darkblue: #003180;
/*--*/
$early_world: #00babe;
$patriarchs: #680000;
$egypt_exodus: #c80000;
$desert_wandering: #e6bc7b;
$conquest_judges: #00a653;
$royal_kingdom: #75149c;
$divided_kingdom: #000000;
$exile: #5faafb;
$return: #fff944;
$maccabean_revolt: #ea5f00;
$messicanic_fulfilment: #daa600;
$the_church: #ffffff;

/* OVERRIDE: colors*/
$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": $dark,
	"white": $white,
	"lightgray": $lightgray,
	"gray": $gray,
	"darkgray": $darkgray,
	"black": $black,
	"lightorange": $lightorange,
	"red": $red,
	"green": $green,
	"orange": $orange,
	"yellow": $yellow,
	"lightyellow": $lightyellow,
	"lightblue": $lightblue,
	"darkblue": $darkblue,
	"early_world": $early_world,
	"patriarchs": $patriarchs,
	"egypt_exodus": $egypt_exodus,
	"desert_wandering": $desert_wandering,
	"conquest_judges": $conquest_judges,
	"royal_kingdom": $royal_kingdom,
	"divided_kingdom": $divided_kingdom,
	"exile": $exile,
	"return": $return,
	"maccabean_revolt": $maccabean_revolt,
	"messicanic_fulfilment": $messicanic_fulfilment,
	"the_church": $the_church,
);

/* OVERRIDE: font */

/* OVERRIDE: borders */
$border-radius: 15px;
$border-radius-lg: 15px;
$border-radius-sm: 15px;
$modal-content-border-width: 1px;

/* OVERRIDE: buttons */
$btn-border-radius: 10px;
$btn-border-radius-sm: 10px;
$btn-border-radius-lg: 10px;

/* OVERRIDE: inputs */
$input-group-addon-border-color: $primary;
$form-file-button-color: $white;
$form-file-button-bg: $primary;

/* OVERRIDE: selects */
$form-select-border-radius: 25px;
$form-select-box-shadow: 0 0 0 2px $primary;
$form-select-focus-border-color: $primary;
$form-select-focus-box-shadow: 0 0 0 1px $primary;

/* IMPORT: bootstrap */
@import "../bootstrap/scss/bootstrap.scss";

/*-------GENERAL--------*/
:root {
	font-family: $font-main;
	font-size: 18px;
}

* {
	font-family: $font-main;
	margin: 0;
	padding: 0;
	box-sizing: border-box; //see: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
}

body {
	font-family: $font-main !important;
}

a {
	&:hover {
		color: $lightblue !important;
	}
}

.text-shadow {
	text-shadow: 1px 1px 6px rgb(0 0 0 / 58%);
}

.navbar-subtitle {
	font-size: small;
	font-weight: 700;
}

.bi-chevron-right::before {
	margin-top: 5px;
}
.bi-youtube::before,
.bi-person-circle::before {
	margin-top: 7px;
}

.cursor-pointer {
	cursor: pointer;
}

/*
.home-badge-wrapper {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
}

.home-badge {
	border-radius: 0.25rem;
	color: #ffffff;
	font-weight: 700;
	font-size: 37px;
	display: inline-block;
	line-height: 1;
	padding: 0.5rem 1rem;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;

	div {
		transform: rotate(90deg);
		i {
			font-size: 35px;
			font-weight: 800;
		}
	}
}
*/

/* SIDEBAR */
.cs-left-sidebar {
	flex-direction: column;
	box-shadow: 10px 0 10px 0px #33333329;
	z-index: 10;
	position: relative;
	min-width: fit-content;

	button {
		width: 100% !important;
		text-align: left !important;
		font-size: 16px;
		border-radius: 0px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 1rem;
		min-height: 50px;

		&:focus,
		&:active {
			box-shadow: 0 0 0 0rem !important;
		}

		p {
			margin-bottom: 0px;
		}
	}

	.cs-left-sidebar-logo {
		display: flex;
		align-items: center;
		padding-left: 0.3rem;
		font-size: 18px;

		img {
			width: 40px;
			box-shadow: 0 1px 2px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
			border-radius: 50%;
		}
	}

	.sub-menu {
		padding-left: 1.5rem;
	}

	.sub-sub-menu {
		padding-left: 2.5rem;
	}

	@media (max-width: 768px) {
		button {
			justify-content: center;
			padding: 0.5rem 0.75rem;

			i {
				padding: 0px !important;
				margin: 0px !important;
			}

			p {
				display: none;
			}

			.bi-chevron-down {
				display: none;
			}
		}
		.cs-left-sidebar-logo {
			text-align: center !important;
			padding: 0.25rem;

			img {
				margin: 0px !important;
			}
		}
		.sub-menu {
			padding-left: 0.75rem;
		}

		.sub-sub-menu {
			padding-left: 0.75rem;
		}
	}

	&.cs-show {
		button {
			justify-content: flex-start;
			text-align: left;

			i {
				padding: 0px !important;
				margin-right: 0.5rem !important;
			}

			p {
				display: block;
			}

			.bi-chevron-down {
				margin-left: 0.25rem !important;
				display: block;
			}
		}
		.cs-left-sidebar-logo {
			img {
				margin-right: 0.25rem !important;
			}
		}

		.sub-menu {
			padding-left: 1.5rem;
		}

		.sub-sub-menu {
			padding-left: 2.5rem;
		}
	}
}

/* NAVBAR */

.navbar-top {
	margin-top: 5px;
	margin-bottom: 5px;
}

.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
	/*max width manual definition*/
	@media (max-width: 768px) {
		padding-top: 1rem;
		padding-bottom: 5px;
	}
}

.dropdown-menu[data-bs-popper] {
	margin-top: 0rem !important; /*override bootstrap*/
	top: auto;
}

.btn-join {
	&:hover {
		color: $white !important;
	}
}

.btn-login {
	&:hover {
		color: $black !important;
		background-color: $lightgray;
		border-color: $lightgray;
	}
}

.btn-5px {
	border-radius: 5px;
}

.navbar-social-icon {
	text-decoration: none;

	&:hover {
		color: $darkgray !important;
	}
}

.navbar-toggler {
	border-width: 2px;
	border-color: $white;

	&:focus {
		box-shadow: 0 0 0 0px;
	}

	span {
		background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(1,1,1, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
	}
}

.cs-hamburger-open {
	border-style: solid;
	border-color: $lightgray;
	border-radius: 5px;
}

.dropdown-menu {
	background-color: $lightyellow;
	border-radius: 0px;

	@media (max-width: $md) {
		border-width: 0px;

		li {
			a {
				padding-left: 1.5rem !important;
			}
			ul {
				li {
					a {
						padding-left: 3rem !important;
					}
				}
			}
		}
	}
}

.dropdown-item,
.nav-link {
	color: $black !important;

	&:hover {
		color: $black !important;
		background-color: lighten($yellow, 10);
	}
}

.nav-item {
	.nav-link {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	ul {
		.dropdown {
			padding: 0px;

			.nav-link {
				padding: 0.25rem 1rem;
			}
		}
	}

	a {
		.badge {
			background-color: darken($yellow, 10%);
			font-size: 10px;
		}
	}
}

.cs-nav-link {
	padding-top: 0.65rem;

	@media (max-width: $md) {
		padding-top: 0.5rem;
	}
}

.navbar-expand-md .navbar-collapse {
	justify-content: center;
}

.navbar-nav {
	flex-wrap: wrap;
	justify-content: center;
}
