@import "_variables";
@import "_margin";
@import "_padding";
@import "_grid";
@import "_typography";
@import "_buttons";

@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

@each $name, $color in $colors {
	.cs-text-#{$name} {
		color: #{$color};
	}
	.cs-bg-#{$name} {
		background-color: #{$color};
	}

	.cs-alert-#{$name} {
		background-color: #{$color};
		border-radius: 25px;
		padding: 1rem 1.25rem;
		display: flex;
		align-items: center;

		i {
			font-size: 60px;
			margin-right: 1rem;
		}
	}
}

/*-------GENERAL--------*/
:root {
	font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; //see: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
	font-family: "Poppins", sans-serif;
}

a {
	font-weight: 600;
	color: $black;

	&:hover {
		color: $lightblue;
	}
}

input {
	font-size: 18px;
}

.cs-input {
	padding: 0.25rem 0.5rem;
	width: 100%;
	border-color: $gray;
	border-radius: $border_radius;
	border-style: solid;
	border-width: 1px;

	&:focus,
	&:focus-visible {
		color: $lightblue;
		outline: none;
		border-color: $lightblue;
		border-width: 1px;
	}
}

.cs-section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.cs-card {
	display: flex;
	align-items: center;
	justify-content: center;
	color: $black;
	padding: 2rem;
	border-width: 1px;
	border-style: solid;
	border-radius: $border_radius;
	border-color: $lightgray;

	.cs-card-header {
		font-size: 30px;
		font-weight: 500;
		letter-spacing: 1px;
		margin-bottom: 40px;
	}

	.cs-card-body {
		width: 100%;
	}
}
